
<div id="about">
  <p>This project was created using the following:</p>
  <ul>
    <li><span class="fa fa-angle-right"></span> Ruby and the Sinatra Framework</li>
    <li><span class="fa fa-angle-right"></span> The Sequel ORM Toolkit</li>
    <li><span class="fa fa-angle-right"></span> SQLite</li>
    <li><span class="fa fa-angle-right"></span> HTML5, CSS3</li>
    <li><span class="fa fa-angle-right"></span> Javascript and jQuery</li>
    <li><span class="fa fa-angle-right"></span> Font Awesome Icons</li>
  </ul>

  <a href="">[ Github Repository ]</a>
</div>
