
<% @posts.each do |post| %>
  <article id="post_list">

    <div id="mini_container">
      <p id="mini_author"><%=h post[:username] %></p>
      <p id="mini_title"><%=h post[:title] %></p>
      <p id="mini_time"><%= post[:modified] %></p>
      <a href="/post/<%= post[:id] %>"><span></span></a>
    </div>

  </article>
<% end %>

<section id="add_post">
  <form action="/new" method="get" accept-charset="utf-8">
    <button type="submit">NEW POST</button>
  </form>
</section>