

<div class="row">
  <form action="/create" method="post" accept-charset="utf-8">

    <div>
      <input type="text" class="create_post" name="post[username]" value="<%= @post.username %>" placeholder="Poster name&hellip;"></input>
    </div>

    <div>
      <textarea id="create_content" name="post[content]" value="<%= @post.content %>" placeholder="Content&hellip;"></textarea>
    </div>
  
    <div>
      <input type="text" class="create_post" name="post[tags]" value="<%= @post.tags %>" placeholder="Tags&hellip;"></input>
    </div>

    <button type="submit">PUBLISH</button>
  </form>
  <a href="/users" class="back_button"><img src="css/pics/back_arrow.gif"></img></a>
</div>