

<div class="row">
  <form action="/create" method="post" accept-charset="utf-8">

  <div>
    <input type="text" name="user[name]" id="name" value="<%= @user.name %>" placeholder="User name&hellip;" />
  </div>

  <div>
    <input type="text" name="user[password]" id="password" value="<%= @user.password %>" placeholder="Password&hellip;" />
  </div>
  
  <div>
    <input type="text" name="user[email]" id="email" value="<%= @user.email %>" placeholder="Email&hellip;" />
  </div>

  <button type="submit">ADD</button>
  </form>
  <a href="/users" class="back_button"><img src="css/pics/back_arrow.gif"></img></a>
</div>