

<div class="row">
  <form action="/create" method="post" accept-charset="utf-8">

    <div>
      <span class="fa fa-pencil"></span><input type="text" class="create_post" name="post[username]" placeholder="Author&hellip;"></input>
    </div>

    <div>
      <span class="fa fa-gears"></span><input type="text" class="create_post" name="post[title]" placeholder="Title (< 24 characters)&hellip;"></input>
    </div>

    <div>
      <textarea id="create_content" name="post[content]" placeholder="Content (< 140 characters)&hellip;"></textarea>
    </div>
  
    <div>
      <span class="fa fa-cloud"></span><input type="text" class="create_post" name="post[tags]" placeholder="Add tag&hellip;"></input>
      <div id="tag_list"></div>
    </div>

    <button type="submit">PUBLISH</button>
  </form>

  <a href="/all" class="back_button"><i class="fa fa-arrow-circle-o-left fa-4x"></i></a>
</div>