

<div class="row">
  <form action="/create" method="post" accept-charset="utf-8">

    <div>
      <input type="text" class="create_post" name="post[username]" value="<%=h @post.username %>" placeholder="Author&hellip;"></input>
    </div>

    <div>
      <input type="text" class="create_post" name="post[title]" value="<%=h @post.title %>" placeholder="Title (< 24 characters)&hellip;"></input>
    </div>

    <div>
      <textarea id="create_content" name="post[content]" value="<%=h @post.content %>" placeholder="Content (< 140 characters)&hellip;"></textarea>
    </div>
  
    <div>
      <input type="text" class="create_post" name="post[tags]" value="<%=h @post.tags %>" placeholder="Tags&hellip;"></input>
    </div>

    <button type="submit">PUBLISH</button>
  </form>
  <a href="/recent" class="back_button"><img src="css/pics/back_arrow.gif"></img></a>
</div>