

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#blocker{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:9999;
 }



/* -------------- Flash Messages --------------  */
#flash_box {
  display: inline-block;
  font-family: 'Open sans', sans-serif;
  width: 50%;
  height: 24px;
  font-size: 14px;
}

#flash_box p {
  line-height: 24px;
  margin: 0;
}

#notice {
  color: green;
}

#error {
  color: red;
}



/* -------------- Nav bar --------------  */
#nav {
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  width: 150px;
  height: 100vh;
  float: left;
  z-index: 10;
  background: #232323;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

#nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0; 
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #000;
  transition: 0.6s;
}

#nav li a:hover {
  background-color: hsla(229, 100%, 100%, 0.1);
  transition: 0.3s; 
}

#red {
  background: #c0392b;
  width: 100%;
  transition: 0.4s;
}

#green {
  background: #27ae60;
  width: 100%;
  transition: 0.4s;
}

#blue {
  background: #2980b9;
  width: 100%;
  transition: 0.4s;
}

#yellow {
  background: #f39c12;
  width: 100%;
  transition: 0.4s;
}

#logo {
  height: 200px;
  width: 90%;
  border: 1px solid gray;
  margin: 5px;
}

#red:hover,
#green:hover,
#blue:hover,
#yellow:hover {
  width: 110%;
  transition: 0.4s;
  border-radius: 3px;
}

#contact {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 90%;
  border: 1px solid gray;
  margin: 5px;
}



/* -------------- Page Title Section --------------  */
#title_div {
  width: 85%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #232323;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

h3 {
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  font-size: 56px;
  letter-spacing: 5px;
  width: 100%;
  color: #00B4FF;
  line-height: 200px;
  margin-top: 20px;
}



/* -------------- Main Section --------------  */
#main_container {
  position: absolute;
  background: #EAEAEA;
  width: calc(100% - 150px);
  height: 100%;
  margin-left: 150px;
  text-align: center;
}

#sub_container {
  position: relative;
  background: #FFFFFF;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}



/* -------------- User Pages --------------  */
#user_list {
  width: 24%;
  margin-top: 8px;
  display: inline-block;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

#user_list p {
  font-family: 'Open sans', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  margin: 0;
  color: #3E3F3A;
}

#user_list img {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.8s;
}

#user_list img:hover {
  background: #0879C8;
  transition: 0.4s;
}

#user_list a {
  text-decoration: none;
}

button {
  position: relative;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  margin: 10px;
  padding: 4px 20px;
  box-shadow: 0px 3px 1px #2F3134;
  background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  color: #00B4FF;
}

button:hover {
  border: 1px solid #00B4FF;
}

button:active {
  box-shadow: 0px 0px 0px #2F3134;
  margin-top: 13px;
  margin-bottom: 7px;
  transition: 0.2s;
}
 
input {
  width: 30%;
  margin: 5px;
  padding: 4px 8px;
  line-height: 20px;
  font-size: 18px;
  color: #3E3F3A;
}

.back_button img {
  width: 40px;
  height: 40px;
  opacity: 0.6;
  transition: 0.2s;
}

.back_button img:hover {
  opacity: 1.0;
  transition: 0.2s;
}