

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #EAEAEA;
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  clear: both;
}



/* -------------- Nav bar --------------  */
#nav {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 150px;
  height: 100vh;
  float: left;
  z-index: 10;
  background: #00979C;
  margin: 0;
  padding: 0;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.3);
}

#nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0; 
}

#nav li {
  float: left;
  width: 100%;
  transition: 0.4s;
}

#nav li:hover {
  background-color: hsla(229, 100%, 100%, 0.1);
  transition: 0.2;
}

#nav li a {
  height: 40px;
  line-height: 40px;
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
}

#logo {
  position: relative;
  height: 160px;
  width: 92%;
  border-radius: 5px;
  margin: 6px;
  padding-top: 60px;
  text-align: center;
  color: rgba(50, 230, 113, 1);
  transition: 0.4s;
}

#logo a {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#logo:hover {
  background: hsla(229, 100%, 100%, 0.1);
  transition: 0.4s;
}

#search {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align: center;
}

#search_content {
  display: inline-block;
  width: 85%;
  height: 30px;
  margin: 3px;
  font-size: 16px;
  border: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0px 6px;
}

button[type="search"] {
  position: relative;
  font-size: 14px;
  padding: 8px 26px;
  margin-top: 4px;
  border: 0px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.7);
  background: #005C5F;
  color: #ffffff;
}

button[type="search"]:hover {
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
  top: 2px;
  cursor: pointer;
}

button[type="search"]:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  top: 6px;
  transition: 0.2s;
}


/* -------------- Page Title Section --------------  */
#title_div {
  width: 85%;
  height: 200px;
  margin: 0 auto;
  background: #00979C;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3em;
  letter-spacing: 6px;
  width: 100%;
  color: #FFFFFF;
  line-height: 200px;
  margin-top: 20px;
}



/* -------------- Main Section --------------  */
#main_container {
  position: absolute;
  width: calc(100% - 150px);
  min-height: 100%;
  margin-left: 150px;
  text-align: center;
}




/* -------------- Flash Messages --------------  */
#flash_box {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 20px;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#flash_box p {
  margin: 0;
}

#notice {
  color: #27ae60;
}

#error {
  color: #d35400;
}




/* -------------- Content Container --------------  */
#sub_container {
  position: relative;
  background: #FFFFFF;
  width: 85%;
  margin: 0 auto;
  padding-top: 0;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0.75px 0.5px rgba(0, 0, 0, 0.2);
  font-family: 'Ubuntu', sans-serif;
}




/* -------------- End Section --------------  */
#end_container {
  position: relative;
  background: gray;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 14px;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#end_title {
  color: white;
  font-size: 12px;
  margin: 0;
}

#end_details {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #2A3744;
  border-radius: 0px 0px 10px 10px;
}

#detail {
  font-size: 14px;
  margin-bottom: 2px;
  color: white;
}

#attribution {
  font-size: 12px;
  margin-top: 2px;
  color: gray;
}





/* -------------- All Posts Page --------------  */
#post_list {
  width: 22%;
  text-align: center;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

#mini_container {
  width: 80%;
  position: relative;
  padding: 10px;
  margin: 10px;
}

#mini_author {
  font-size: 16px;
  margin: 3px;
}

#mini_title {
  font-size: 21px;
  margin: 6px;
}

#mini_time {
  font-size: 12px;
  color: gray;
  margin: 0;
}

#mini_container a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 6px;
  background: rgba(0, 150, 150, 0.1);
  transition: 0.3s;
}

#mini_container a span:hover {
  background: rgba(0, 150, 150, 0.2);
  transition: 0.3s;
}





/* -------------- Post Page --------------  */
#post_main {
  width: 100%;
  margin-top: 8px;
  padding: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

#content_container {
  width: 80%;
  display: inline-block;
}

#content_user {
  width: 100%;
  text-align: left;
  position: relative;
  top: 0;
}

#post_author {
  font-size: 24px;
  margin: 0;
  color: gray;
}

#content {
  margin-top: 10px;
  position: relative;
  width: 100%;
}

#post_content {
  margin: 0;
  font-size: 32px;
  text-align: left;
}

#post_tags {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
}

#options_time {
  width: 100%;
  position: relative;
}

#post_time {
  margin: 0;
  text-align: left;
  font-size: 12px;
  color: gray;
}

#post_options {
  margin-top: 10px;
  text-align: left;
}

#post_options img {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

#post_options img:hover {
  background: #0879C8;
  transition: 0.4s;
}

#comment_section {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
  background-color: #F5F5F5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#add_comment_box {
  margin-top: 20px;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  font-size: 21px;
  color: gray;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#comment_list {
  display: inline-block;
  width: 60%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#comment_content {
  display: inline-block;
  text-align: left;
  padding: 10px 10px 5px 10px;
  width: 90%;
  height: 80px;
  position: relative;
}

#comment_content_main {
  font-size: 24px;
}

#comment_content_time {
  font-size: 12px;
  color: gray;
  position: absolute;
  bottom: 6px;
}


#comment_extra {
  display: inline-block;
  text-align: left;
  padding: 5px 10px 5px 10px;
  width: 90%;
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#comment_list p {
  margin: 0;
}

button[type="submit"] {
  position: relative;
  font-size: 14px;
  border: 0px solid rgba(0, 0, 0, 0);
  margin: 10px;
  margin-bottom: 30px;
  padding: 8px 26px;
  box-shadow: 0px 6px 0px #005C5F;
  background: #00979C;
  color: #ffffff;
}

button[type="submit"]:hover {
  box-shadow: 0px 4px 0px #005C5F;
  top: 2px;
  cursor: pointer;
}

button[type="submit"]:active {
  box-shadow: 0px 0px 0px #2F3134;
  top: 6px;
  transition: 0.2s;
}
 
.create_post, .edit_post {
  width: 30%;
  margin: 5px;
  line-height: 20px;
  font-size: 16px;
  color: #3E3F3A;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  color: gray;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#create_content, #edit_content {
  width: 80%;
  height: 60px;
  margin: 5px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  color: gray;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.back_button img {
  width: 40px;
  height: 40px;
  opacity: 0.6;
  margin-bottom: 20px;
  transition: 0.2s;
}

.back_button img:hover {
  opacity: 1.0;
  transition: 0.2s;
}




/* ------------ About Page ------------ */
#about {
  position: relative;
  font-size: 18px;
  margin: 0 auto;
  width: 70%;
}

#about p {
  text-align: left;
  font-size: 26px;
  margin-top: 0;
}

#about ul {
  text-align: left;
  list-style: none;
}

#about a {
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  color: gray;
}